$colorMarco: #1A374D;
$colorMain: #406882;
$colorYT: red;
$colorIG: rgb(219, 81, 219);
$colorSpotify: green;
$colorTwitter: rgb(0, 174, 255);
$colorAside: linear-gradient(0.25turn,#406882, #1A374D);
$colorBlanco: #B1D0E0;
$colorHeader: linear-gradient(to top , #406882 , #1A374D);
$colorFooter: linear-gradient(to top, #1A374D , #406882);
$colorH2: rgb(165, 22, 22);